body {

    background-image: url("https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=2000");
    background-size: cover;


    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(0, 202, 10);
    border-radius: 1px solid black;
}

h2 {
    display: center;
}

h2:hover {
    color: rgb(48, 1, 255);
    text-decoration: underline;
}

.pricing-header {
    text-align: start;
}

div {
    display: inline;
    margin: 20%;
}

section {
    display: inline;
    margin: 50%;
    padding-right: 10;
}

button {
    font-size: 20px;
    color: rgb(0, 213, 246);
    background-color: rgb(156, 156, 190);

}

button:hover {
    background-color: rgb(0, 210, 63);
    text-align: start;

}

#cat {
    display: inline-flex;
}