body {

    background-image: url("https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=2000");
    background-size: cover;


    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
}

h2:hover {
    color: rgb(48, 1, 255);
    text-decoration: underline;
}

div {
    display: inline;
    margin: 20%;
}

section {
    display: inline;
    margin: 50%;
    padding-right: 10;
}

button {
    color: white;
    background-color: rgb(156, 156, 190);

}

button:hover {
    color: white;
    background-color: greenyellow;
    text-align: center;
}