body {
    background-image: url("https://miro.medium.com/max/1400/1*DA7nl6tRnXLa11VLXT2B2g.png");
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif(4, 92, 63);
}

h1:hover {
    color: blue;
    color: aquamarine;
    color: blueviolet;
}

div {
    display: inline;
    font-size: 200%;
    color: blue;
    text-decoration: solid;
    margin: 55px;
}

div:hover {
    color: aquamarine;
    text-decoration: underline;

}