body {
    background-image: url("https://miro.medium.com/max/1400/1*DA7nl6tRnXLa11VLXT2B2g.png");
    background-size: cover;
}

h1 {
    text-align: center;
    color: rgb(4, 92, 63);
}

h1:hover {
    color: blue;
    color: aquamarine;
    color: blueviolet;
}

div {

    font-size: 200%;
    color: blue;
    text-decoration: solid;
    display: inline;
    margin: 65px;
    flex-direction: column;
}

div:hover {
    color: aquamarine;
    text-decoration: underline;

}